<div class="post media list-group-item">
    <h3>{{post.title}}</h3>
    <div class="media-body">
        <h5 class="media-heading">
            Written by :
            <span class="username">
                <a href="{% url 'posts:for_user' username=post.user.username  %}">@{{post.user.username}}</a>
            </span>
        </h5>
    </div>

    <div class="media-footer">
        {% if user.is_authenticated and post.user == user %}
            <a href="{% url 'posts:delete' pk=post.pk %}" title="delete" class="btn btn-danger">
                <span class='glyphicon glyphicon-remove'></span>
                <span class="icon-label">Delete</span>
            </a>
        {% endif %}
    </div>
</div>